@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.65);
	background-color: #f0f1f2;
	/* background-color: #74baff60;   */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

ul.todo-list {
	list-style: none;
	overflow: hidden;
}

h1 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.app-container {
	background-color: #fff;
	border-radius: 6px;
	margin-top: 70px;
	margin-bottom: 50px;
	width: 520px;
	box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
}

/* ================================= 
    Form styles
==================================== */

.AddForm {
	background-color: #e3e9ed;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.form-control {
	width: 100%;
	padding: 0 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.AddForm .input-wrapper {
	position: relative;
	flex: 1;
}

.AddForm .fa-plus {
	display: inline-block;
	font-size: 1.3rem;
	margin-right: 30px;
	color: #86a0b1;
	order: -1;
	transition: transform 300ms ease-in;
}

.AddForm input:focus + .fa-plus {
	transform: scale3d(1.8, 1.8, 1.8);
	transition: transform 300ms ease-in-out;
}

.AddForm input {
	padding: 30px 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: #e3e9ed;
	color: rgba(0, 0, 0, 0.50);
	width: 100%;
	line-height: 2;
	font-size: 1.8rem;
	order: 1;
}

.AddForm input::placeholder {
	color: #86a0b1;
	transition: all 250ms ease-in-out;
}

.AddForm input:focus::placeholder {
	transform: scale(0.8);
	opacity: 0;
}

/* ================================= 
    Todo item styles
==================================== */

.Todo-item {
	position: relative;
	padding: 0 30px 0 30px;
	font-size: 16px;
	max-width: 100%;
	border-bottom: 1px solid #e7ebee;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	transition: background-color 200ms ease;
	background-color: white;
}

.Todo-item:hover {
	background-color: #f1f4f6;
}

.Todo-item.completed {
	background-color: #2ecc7021;
	transition: background-color 300ms ease;
}

.Todo-item.completed:hover,
.Todo-item.completed:active {
	background-color: #2ecc702a;
}

.Todo-content {
	position: relative;
	cursor: pointer;
	order: 1;
	transition: color 200ms ease;
}

.Todo-item.completed .Todo-content {
	color: rgba(0, 0, 0, 0.45);
}

.Todo-content::after {
	content: '';
	position: absolute;
	top: 55%;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.40);
	transform-origin: left;
	transform: scaleX(0);
	transition-delay: 50ms;
	transition: all 200ms ease-in-out;
}

.Todo-item.completed .Todo-content::after {
	transform: scaleX(1);
	transform-origin: right;
}

.Todo-icon {
	cursor: pointer;
	padding-right: 35px;
}

.Todo-icon .fa-check {
	color: #e7ebee;
	opacity: 1;
	font-size: 20px;
	transition: all 200ms ease;
	width: 100%;
	padding: 20px 0;
}

.Todo-item.completed .fa-check {
	color: #2ecc70d7;
}

.clickable {
	display: flex;
	flex: 2;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.Todo-del-icon {
	position: relative;
	order: 2;
	margin-left: auto;

	height: 100%;
	opacity: 1;
	transition: all 20ms ease;
	border-radius: 100%;
	cursor: pointer;
	color: white;
	background: #74baff98;
	z-index: 100;
	transition: background 300ms ease-in-out;
}

.Todo-item.completed .Todo-del-icon {
	background: #2ecc70d7;
}

.Todo-del-icon:hover,
.Todo-item.completed .Todo-del-icon:hover {
	background: #ff5252;
	color: #fff;
	opacity: 1;
}

.Todo-del-icon .fa-trash-alt {
	padding: 10px 12px;
}

/* ================================= 
    FOOTER
==================================== */

.Todo-footer {
	background: #f1f4f6;
	font-size: 12px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #5c7586;
	text-align: right;
	overflow: hidden;
}

.Todo-footer > * {
	padding: 0 30px 0 30px;
}

.Todo-footer button {
	text-decoration: none;
	color: #5c7586;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	background: inherit;
	cursor: pointer;
	padding-top: 11px;
	padding-bottom: 11px;
}

.Todo-footer button:hover {
	text-decoration: underline;
	color: #475a66;
	transition: all 200ms ease;
}

.Todo-footer i.fas {
	color: #5c7586a8;
	margin-left: 5px;
	font-size: 12px;
}

/* ================================= 
    Media queries
==================================== */

@media only screen and (max-width: 414px) {
	body {
		padding: 0;
		margin: 0;
		background: #fff;
	}

	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 100;
	}

	.app-container {
		margin: 0;
		width: 100vw;
		height: 100%;
		box-shadow: none;
	}

	.app-container,
	.AddForm {
		border-radius: 0;
	}

	.AddForm input {
		padding: 20px 0;
	}

	.AddForm input,
	.AddForm input::placeholder {
		font-size: 22px;
	}

	.AddForm input + .fa-plus {
		transform: scale3d(1, 1, 1);
	}

	.AddForm input:focus + .fa-plus {
		transform: scale3d(1.3, 1.3, 1.3);
	}

	.form-control {
		padding: 0 15px 0 15px;
	}

	.Todo-item {
		padding: 0 15px 0 15px;
		font-size: 13px;
	}

	.Todo-del-icon {
		margin-right: 0;
	}

	.Todo-icon {
		padding-right: 15px;
	}

	.Todo-content::after {
		top: 50%;
	}

	.Todo-footer > * {
		padding: 0 15px 0 15px;
	}
}

@media only screen and (max-width: 320px) {
	.app-container {
		font-size: 12px;
	}

	.Todo-item {
		font-size: 12px;
	}

	.Todo-content::after {
		height: 0;
	}

	.AddForm .form-control {
		padding: 0 12px;
	}

	.AddForm input,
	.AddForm input::placeholder {
		font-size: 16px;
	}

	.AddForm input + .fa-plus {
		transform: scale3d(1, 1, 1);
	}

	.AddForm input:focus + .fa-plus {
		transform: scale3d(1, 1, 1);
	}

	.Todo-footer > * {
		padding: 0 10px 0 10px;
	}
}

/* ================================= 
    ReactTransitionGroup Classes
==================================== */

.todo-enter {
	opacity: 0;
	transform: translateX(+50vw);
}

.todo-enter.todo-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: all 550ms cubic-bezier(0.075, 1, 0.165, 1.009);
}

.todo-exit {
	opacity: 1;
	transform: translateX(0);
}

.todo-exit.todo-exit-active {
	opacity: 0;
	transform: translateX(-50vw);
	transition: all 550ms cubic-bezier(0.6, -0.015, 0.735, 0.045);
}
